/*
 * Main CSS
 */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,select,input,textarea,p,blockquote,th,td {  
  margin:  0; 
  padding: 0;
  
  font-family: "Droid Sans", "Lucida Grande", MuseoSans500, Verdana, Arial, sans-serif;
  font-size:   18px;
  text-align:  left;  
  color:       #333;  
} 


h1 {  
  margin:         0 auto;
  margin-bottom:  5px;
  padding-bottom: 10px;  
  
  font-size:      120%;
  font-weight:    bold;
  
  color:          #333;      
}


h2 {
  padding:   15px 0;
  font-size: 115%;  
}


h3 {
  padding: 15px 0; 
  font-size: 110%;  
  color: #333;
  margin: 5px 0;  
}
 
 
h4 {
  font-size: 105%;
  margin: 10px 0;   
}

p {
  margin-bottom: 15px;
  line-height: 1.6em;
  font-family: "Droid Sans", "Lucida Grande", MuseoSans500, Verdana, Arial, sans-serif;
}

a {
  color: #ff9933;
  text-decoration: none;  
}

img {
 border: none;
}

select {
  border:  1px solid #ccc;
  padding: 2px;  
  width:   auto;    
}

input {
  border:  1px solid #ccc;
  padding: 2px;  
  width:   auto;    
}

table {
  border-collapse: collapse;  
}

th {
  border-top:    1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding:       5px;
}

td {
  text-align: left;
}

body {
  background-color: #fff;
}

#carrot-top {
  padding: 15px;
  background-color: #ff9933;
}

#top-content {
  width: 960px;
  margin: 0 auto;  
}

#header {
  padding: 20px;
}

#nav {
  float: right;
  margin-top: 30px; 
  width: 35%;   
  vertical-align: bottom;   
}

#nav li {
  display:     inline;
  list-style:  none;
  margin-left: 45px;
  text-align:  right; 
}

#nav a {
  font-size: 115%; 
  color: #fff;
}

#nav a:hover {
  color: #111144;
}


#rapper {
  width: 960px;    
  margin: 0 auto; 
  margin-top: 20px;     
}


#main {
  margin-top: 15px;  
  width: 960px;      
}

#content {  
  margin-right: 240px;    
}

.article {
  border-right: 1px solid #aaccff;
  
  padding-right:  40px;    
  padding-bottom: 20px;
  
  margin-left: 120px;    
}

.article-nav {
  float: left; 
  width: 90px;  
  padding-top: 2px;  
}

.article-nav p {
  font-size: 80%;
}

.article h3 {
  margin:  5px 0;
  padding: 5px 0;
   
  font-size: 120%;  
  color:     #333;    
}

.article ol {
  margin-left:   20px;
  margin-bottom: 20px;
}

.article li {
  margin-bottom: 5px;
  line-height:   1.6em;
}

.article code {
  color: #336;
}

.article pre {
  color: #336;  
  padding: 10px;
  background-color: #f3f7ff;
  font-family: monospace;
  margin-bottom: 10px; 
  font-size: 80%;
}

/* Sidebar */

#sidebar {
  float: right;
  width: 220px;  
}

#sidebar h4 {
  padding-top: 0;
  margin-top:  0;
  font-size: 80%;
}

#sidebar ul {
  
}

#sidebar li {
  margin-bottom: 10px;
  line-height:   1.4em;
  font-size: 80%;
  margin-left: 18px;
}

#sidebar td {
  padding:      2px 8px;
  padding-left: 0;
}

#tagline {
  margin-top: 4px;
  margin-bottom: 30px;
  padding: 30px 0;
  background: #aaccff;
    
  box-shadow:         0 2px 3px #ccc;
  -webkit-box-shadow: 0 2px 3px #ccc;  
}

#tagline h1 {
  font-family:  Questrial, "Lucida Grande", "Helvetica Neue", "Helvetica", Verdana, Arial, sans-serif;
  font-size: 200%;
  font-weight: bold;
  padding: 0;
  margin-bottom: 15px;
  text-align: center;  
  color: #fff;
}

#tagline h2 {
  font-family:  Questrial, "Lucida Grande", "Helvetica Neue", "Helvetica", Verdana, Arial, sans-serif;
  font-size: 125%;
  font-weight: normal;
  padding: 0;  
  text-align: center;
  line-height: 1.4em;
  color: #fff;
}

#tagline h3 {  
  font-weight: normal;
  font-family: Verdana, sans-serif;
  font-variant: small-caps;
  font-size: 100%;
  padding: 0;  
  text-align: center;
}


#footer {
  margin-top: 40px;  
  padding-top: 15px;
  
  box-shadow: 0 -2px 3px #ccc;
  -webkit-box-shadow: 0 -2px 3px #ccc;
  border-bottom: 2px dashed #333;  
  background-color: #aaccff;
}


#footer p {
  color: #fff;   
  text-align: center;
  font-size: 80%;  
}

#footer a {
  color: #fff;   
}

#footer a:hover {
  color: #fff;
  text-decoration: underline; 
}


#footer a:visited {
 color: #fff; 
}

#footer .warning {
  padding: 0; 
  margin:  0;
  
  color: #111144;
}

#end-of-line {
  width: 960px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;  
}

#end-of-line p {
  color: #111144;
}

#end-of-line img {
  margin: 0 auto;
}


.about {
  padding-right: 60px;    
  margin-left: 150px;
}

.about h3 {
  font-size: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  
}

.about p {
  padding-bottom: 15px;  
}

.about-nav {
  float: left; 
  width: 90px;
}

.about-nav p {
  padding-top: 0;
  margin-top:  0;
  
  font-weight: bold;
  font-size:   80%;
}

.about-section {
  padding-bottom: 7px;
  margin-bottom: 15px;    
  border-bottom: 1px solid #aaccff;
}


